<footer id="political-footer" class="political-footer-one">
  <span class="political-footer-transparent"></span>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="political-copyright">
          <ul class="political-team-social">
            <li><a href="https://www.facebook.com/sarun.seepun" class="fa fa-facebook-square" target="_blank"></a></li>
            <li><a href="https://www.linkedin.com/in/sseepun/" class="fa fa-linkedin-square" target="_blank"></a></li>
            <li><a href="http://bigdata300.com/" class="fa fa-share-alt-square" target="_blank"></a></li>
          </ul>
          <p>
            Copyright 2017-2018 
            <span> - All Rights Reserved 
            <a href="https://www.facebook.com/sarun.seepun" target="_blank" style="color:#fff;">
              Sarun Seepun
            </a></span>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>