<div class="political-team political-team-list">
  <form #editProfile="ngForm" (ngSubmit)="editProfileDetail(editProfile)">
    <ul class="row">
      <li class="col-md-12 full-view-panel">
        <div class="political-team-list-wrap">
          <figure><img [src]="userProfileImage()" alt="Profile image not available"></figure>
          <div class="political-team-list-text">
            <h2 style="margin-bottom:15px;">{{userDetail.firstname}} {{userDetail.lastname}}</h2>
            <span style="float:left;">{{'Position' | translate:language }}: </span>
              <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="position" [ngModel]="defaultValue(userDetail.position)" placeholder="{{'Your position' | translate:language }}" ngModel></span>
            <p style="float:none; margin:5px 0 10px 0;">
              <textarea class="profile-input profile-about" name="about" [ngModel]="defaultValue(userDetail.about)" placeholder="{{'About you' | translate:language }}" ngModel></textarea>
            </p>
            <ul class="political-team-info">
              <li><i class="fa fa-globe"></i><strong>{{'DPST #' | translate:language }}</strong>
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="dpstYear" [ngModel]="defaultValue(userDetail.dpstYear)" placeholder="{{'Your DPST #' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-graduation-cap"></i><strong>{{'Education' | translate:language }}:</strong>
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="education" [ngModel]="defaultValue(userDetail.education)" placeholder="{{'Your education' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-ravelry"></i><strong>{{'Major' | translate:language }}:</strong>
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="major" [ngModel]="defaultValue(userDetail.mojor)" placeholder="{{'Your field of study' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-book"></i><strong>{{'School/University' | translate:language }}:</strong>
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="school" [ngModel]="defaultValue(userDetail.school)" placeholder="{{'Your school/university' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-briefcase"></i><strong>{{'Workplace' | translate:language }}:</strong> 
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="workplace" [ngModel]="defaultValue(userDetail.workplace)" placeholder="{{'Your workplace' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-envelope"></i><strong>{{'E-mail' | translate:language }}:</strong> <a [href]="'mailto:'+userDetail.email">{{userDetail.email}}</a></li>
              <li><i class="fa fa-phone"></i><strong>{{'Phone' | translate:language }}:</strong> 
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="phone" [ngModel]="defaultValue(userDetail.phone)" placeholder="{{'Your telephone number' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-comments"></i><strong>Line ID:</strong>
                <span style="display:block; overflow:hidden; padding-left: 5px"><input class="profile-input" type="text" name="lineId" [ngModel]="defaultValue(userDetail.lineId)" placeholder="{{'Your Line ID' | translate:language }}" ngModel></span></li>
              <li><i class="fa fa-home"></i><strong>{{'Address' | translate:language }}:</strong>
                <br><input class="profile-input profile-ad1" type="text" name="address1" [ngModel]="defaultValue(userDetail.address1)" placeholder="{{'Your address' | translate:language }}" ngModel>
                <br><input class="profile-input profile-ad1" type="text" name="address2" [ngModel]="defaultValue(userDetail.address2)" placeholder="{{'Your address line 2' | translate:language }}" ngModel>
                <br><input class="profile-input profile-ad2" type="text" name="province" [ngModel]="defaultValue(userDetail.province)" placeholder="{{'Province/State' | translate:language }}" ngModel> 
                <input class="profile-input profile-ad2" type="text" name="zip" [ngModel]="defaultValue(userDetail.zip)" placeholder="{{'ZIP code' | translate:language }}" ngModel>
                <br><input class="profile-input profile-ad1" type="text" name="country" [ngModel]="defaultValue(userDetail.country)" placeholder="{{'Country' | translate:language }}" ngModel>
              </li>
              <li>
                <input class="political-simple-btn" type="submit" value="{{'Update your profile' | translate:language }}">
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </form>
</div>
