
<div *ngIf="formCategory!==null" class="political-team political-team-list">
  <form #createGovForm="ngForm" (ngSubmit)="adminCreateGovForm(createGovForm)" ngNativeValidate>
    <ul class="row">
      <li class="col-md-12 full-view-panel">
        <div class="political-team-list-wrap">

          <h1><strong>{{'Create a form' | translate:language }}</strong></h1>
          
          <div class="political-team-list-text">
            <ul class="political-team-info">
              <li><strong>Thai name:</strong>
                <input class="profile-input" type="text" name="nameTH" placeholder="Thai name" ngModel required></li>
              <li><strong>English name:</strong>
                <input class="profile-input" type="text" name="nameEN" placeholder="English name" ngModel required></li>
              <li><strong>Owner:</strong>
                <input class="profile-input" type="text" name="govOwner" placeholder="Form owner" ngModel></li>
              <li><strong>Require evidence:</strong>
                <select name="requireEvidence" [ngModel]="false" ngModel required>
                  <option value="false" seleced="selected">No</option>
                  <option value="true">Yes</option>
                </select>
              </li>
              <li><strong>Form PDF:</strong>
                <input name="pdfForm" type="file" (change)="choosePdfForm($event)" accept="application/pdf">
              </li>
              <li><strong>Form preview:</strong>
                <input name="previewUrl" type="file" (change)="choosePdfPreview($event)" accept="image/*">
              </li>
              <li><strong>Form catagory:</strong>
                <select name="category" data-placeholder="Choose category..." class="chosen-select"
                multiple ngModel>
                  <option *ngFor="let category of formCategory;" 
                  [value]="category.categoryEN">{{category.categoryTH}}</option>
                </select>
              </li>  
              <li class="submit-li">
                <input class="political-simple-btn" type="submit" value="{{'Create a form' | translate:language }}">
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </form>
</div>