<div class="political-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="political-subheader-wrap">
                    <h1>Admin Panel</h1>
                    <ul class="political-breadcrumb">
                        <li><a (click)="pageService.setPage('Homepage')">Homepage</a></li>
                        <li>Admin Panel</li>
                        <li class="active">{{pageService.getSubpage()}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="political-main-content">
    <div class="political-main-section">
        <div class="container">
            <div class="row">

                <!-- Admin panel sidbar -->
                <aside class="col-md-3">
                    <div class="widget widget_cetagories">
                        <h2 class="political-widget-heading">Admin Menu</h2>
                        <ul>
                            <li [ngClass]="{'active':pageService.getSubpage()=='User table'}">
                                <a (click)="pageService.setSubpage('User table')">User Table</a></li>
                            <li *ngIf="userinfoService.getUserinfo().level>7"
                            [ngClass]="{'active':pageService.getSubpage()=='Statistic'}">
                                <a (click)="pageService.setSubpage('Statistic')">Statistic</a></li>
                            <li *ngIf="userinfoService.getUserinfo().level>7"
                            [ngClass]="{'active':pageService.getSubpage()=='Email blast'}">
                                <a (click)="pageService.setSubpage('Email blast')">Email Blast</a></li>
                        </ul>
                    </div>
                </aside>

                <!-- Admin panel subpages -->
                <div class="col-md-9">

                    <ng-container *ngIf="pageService.getSubpage()=='User table'">
                        <app-page-admin-user-table></app-page-admin-user-table>
                    </ng-container>
                    <ng-container *ngIf="pageService.getSubpage()=='Statistic'">
                        <app-page-admin-statistic></app-page-admin-statistic>
                    </ng-container>
                    <ng-container *ngIf="pageService.getSubpage()=='Email blast'">
                        <app-page-admin-email-blast></app-page-admin-email-blast>
                    </ng-container>

                </div>

            </div>
        </div>
    </div>
</div>