 /* ThemeColor One */
.political-color,.political-colorhover:hover,.navbar-nav > li.active > a,.navbar-nav > li:hover > a,.political-service-list i,
.navbar-nav .sub-menu li:hover > a,.political-blog-option time span,.widget_twitter_feed i,.political-breadcrumb li:before,
.political-blog-heading span,.political-blog-list-text time,.political-admin-post-text span,.comment-reply-link:hover,
.like:hover:before,.widget_cetagories a:before,.widget_cetagories ul li:hover a,.political-blog-btn,.political-chartiy-link,
.political-simple-btn:hover,.widget_contact_form .political-simple-btn:hover,.political-compaign-grid-text small,.political-compaign-list-text small,
.political-speeches-grid-text > ul > li i,.political-speeches-list-text > ul > li i,.political-speeches-thumb ul li i,
.political-contact-text i,.political-contact-form form input[type="submit"]:hover {
    color: #228ae6;
}
.political-bgcolor,.political-bgcolorhover:hover,.political-banner-thumb-text,.political-banner-layer:before,.political-simple-btn,
.political-cause-grid figure a:before,.political-banner-form form input[type="submit"],.political-campaign-widget .nav-tabs > li.active > a,
.political-campaign-widget .nav-tabs > li.active > a:focus,.political-campaign-widget .nav-tabs li:hover a,.political-counter span,
.political-counter span:before,.political-counter span:after,blockquote,.political-prenxt-post ul li:hover .political-prenxt-arrow,
.political-blog-list figure a i,.political-blog-list-text:before,.political-blog-list-text:after,.political-admin-social li a:hover,
.widget_popular_post figure a:before,.political-blog-large ul li figure a i,.widget_contact_form .political-simple-btn,.widget_search form label input[type="submit"],
.political-blog-gridv2 ul li figure a i,.comment-respond form p input[type="submit"], .widget_search form label input[type="submit"],
.poltical-compaign-form p input[type="submit"],.political-team-awards ul li span:before,.political-contact-form form input[type="submit"],
.political-search-result form input[type="submit"] {
    background-color: #228ae6;
}
.political-contact-info ul li:hover .political-contact-text {
    border-color: #228ae6;
}
{
    border-top-color: #228ae6;
}
.political-blog-detail-thumb {
    border-bottom-color: #228ae6;
}
/*Border-color-two*/
.comment-respond form p input[type="submit"],.widget_search form label input[type="submit"],.political-team-awards ul li span,
.political-search-result form input[type="submit"]  {
	border-color: #d22e2e;
}
