<header id="political-header" class="political-header-one">
    <div class="political-main-header">
        <div class="container">
            <div class="row">

                <aside class="col-md-3">
                    <a routerLink="/" class="logo"><img src="assets/img/logo/base.png" alt=""></a>
                </aside>

                <aside class="col-md-9">
                    <div class="political-navigation">
                        <a href="#menu" class="menu-link active" (click)="unactiveSubMenu()">
                            <span style="margin-right:0;"></span>
                        </a>
                        <nav id="menu" class="menu navbar navbar-default">
                            <ul class="level-1 navbar-nav">

                                <!-- Homepage -->
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" (click)="unactive();">
                                    {{'HomePage' | translate:settingService.getLanguage() }}
                                </a></li>

                              <ng-container *ngIf="userinfoService.getUserinfo() === null">
                                <!-- Log in -->
                                <li routerLinkActive="active">
                                    <a routerLink="/login" (click)="unactive();">
                                        {{'Log in' | translate:settingService.getLanguage() }}
                                    </a>
                                </li>

                                <!-- Register -->
                                <li routerLinkActive="active">
                                    <a routerLink="/register" (click)="unactive();">
                                        {{'Register' | translate:settingService.getLanguage() }}
                                    </a>
                                </li>
                              </ng-container>

                              <ng-container *ngIf="userinfoService.getUserinfo() !== null">
                                <!-- Check status -->
                                <li routerLinkActive="active" *ngIf="userinfoService.getUserinfo().status!='Active'">
                                    <a>
                                        {{'Status' | translate:settingService.getLanguage() }}:
                                            <span [ngClass]="{'ban':userinfoService.getUserinfo().status=='Ban', 'pen':userinfoService.getUserinfo().status=='Pending'}">{{userinfoService.getUserinfo().status}}</span>
                                    </a><span class="has-subnav status-nav" (click)="toggleSubnav('.status-nav')"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2 status-nav">
                                        <li><a routerLink="/check-status" (click)="unactive();">
                                            {{'What is this?' | translate:settingService.getLanguage() }}
                                        </a></li>
                                        <li><a (click)="memberLogOut(); unactive();">
                                            {{'Log out' | translate:settingService.getLanguage() }}
                                        </a></li>
                                    </ul>
                                </li>

                                <!-- User panel -->
                                <li routerLinkActive="active" *ngIf="userinfoService.getUserinfo().status=='Active'">
                                    <a>
                                        {{'Hello,' | translate:settingService.getLanguage() }}
                                            <span class="hello-user">{{userinfoService.getUserinfo().username}}</span>
                                    </a><span class="has-subnav profile-nav"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2 profile-nav">
                                        <li routerLinkActive="active"><a routerLink="/user-panel/profile" (click)="unactive();">
                                            {{'Profile' | translate:settingService.getLanguage() }}
                                        </a></li>
                                        <li routerLinkActive="active"><a routerLink="/user-panel/history" (click)="unactive();">
                                            {{'History' | translate:settingService.getLanguage() }}
                                        </a></li>

                                        <!-- Admin panel -->
                                        <li routerLinkActive="active" *ngIf="userinfoService.getUserinfo().level >= 8">
                                            <a routerLink="/admin-panel/user-table" (click)="unactive();" style="font-weight:600;">
                                                Admin Panel
                                            </a>
                                        </li>
                                        <li><a (click)="memberLogOut(); unactive();">
                                            {{'Log out' | translate:settingService.getLanguage() }}
                                        </a></li>
                                    </ul>
                                </li>

                                <!-- Forms -->
                                <li routerLinkActive="active" *ngIf="userinfoService.getUserinfo().status=='Active'">
                                    <a routerLink="/forms" (click)="unactive();">
                                        {{'Forms' | translate:settingService.getLanguage() }}
                                    </a>
                                </li>
                              </ng-container>

                                <!-- Contact -->
                                <li routerLinkActive="active"><a routerLink="/contact" (click)="unactive();">
                                    {{'Contact Us' | translate:settingService.getLanguage() }}
                                </a></li>

                                <!-- Language -->
                                <!-- <li>
                                    <a>
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">เลือกภาษา</ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Language</ng-container>
                                    </a><span class="has-subnav"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2">
                                        <li><a (click)="settingService.setLanguage('Thai'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ภาษาไทย</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">Thai</ng-container>
                                        </a></li>
                                        <li><a (click)="settingService.setLanguage('English'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ภาษาอังกฤษ</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">English</ng-container>
                                        </a></li>
                                    </ul>
                                </li> -->
                                <li>
                                    <a (click)="toggleSubnav('.language')">Language</a>
                                    <span class="has-subnav language" style="pointer-events:none;"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2 language">
                                        <li><a (click)="settingService.setLanguage('Thai'); unactive();">Thai</a></li>
                                        <li><a (click)="settingService.setLanguage('English'); unactive();">English</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</header>