<header id="political-header" class="political-header-one">
    <div class="political-main-header">
        <div class="container">
            <div class="row">

                <aside class="col-md-3">
                    <a (click)="pageService.setPage('Home')" class="logo"><img src="assets/img/logo/base.png" alt=""></a>
                </aside>

                <aside class="col-md-9">
                    <div class="political-navigation">
                        <a href="#menu" class="menu-link active" (click)="unactiveSubMenu()">
                            <span style="margin-right:0;"></span>
                        </a>
                        <nav id="menu" class="menu navbar navbar-default" (mouseleave)="autoCloseNavbar()">
                            <ul class="level-1 navbar-nav">

                                <!-- Homepage -->
                                <li [ngClass]="{'active':pageService.getPage()=='Homepage'}"><a (click)="pageService.setPage('Homepage'); unactive();">
                                    <ng-container *ngIf="settingService.getLanguage()=='Thai'">หน้าแรก</ng-container>
                                    <ng-container *ngIf="settingService.getLanguage()=='English'">HomePage</ng-container>
                                </a></li>

                                <!-- Log in -->
                                <li [ngClass]="{'active':pageService.getPage()=='Log in'}" *ngIf="userinfoService.getUserinfo()===null">
                                    <a (click)="pageService.setPage('Log in'); unactive();">
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">เข้าสู่ระบบ</ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Log in</ng-container>
                                    </a>
                                </li>

                                <!-- Register -->
                                <li [ngClass]="{'active':pageService.getPage()=='Register'}" *ngIf="userinfoService.getUserinfo()===null">
                                    <a (click)="pageService.setPage('Register'); unactive();">
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">สมัครสมาชิก</ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Register</ng-container>
                                    </a>
                                </li>

                                <!-- Check status -->
                                <li [ngClass]="{'active':pageService.getPage()=='Check status'}" *ngIf="userinfoService.getUserinfo()!==null && userinfoService.getUserinfo().status!='Active'">
                                    <a>
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">สถานะ: 
                                            <span [ngClass]="{'ban':userinfoService.getUserinfo().status=='Ban', 'pen':userinfoService.getUserinfo().status=='Pending'}">{{userinfoService.getUserinfo().status}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Status:
                                            <span [ngClass]="{'ban':userinfoService.getUserinfo().status=='Ban', 'pen':userinfoService.getUserinfo().status=='Pending'}">{{userinfoService.getUserinfo().status}}</span>
                                        </ng-container>
                                    </a><span class="has-subnav status-nav" (click)="toggleSubnav('.status-nav')"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2 status-nav">
                                        <li><a (click)="pageService.setPage('Check status'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">คืออะไร</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">What is this?</ng-container>
                                        </a></li>
                                        <li><a (click)="memberLogOut(); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ออกจากระบบ</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">Log out</ng-container>
                                        </a></li>
                                    </ul>
                                </li>

                                <!-- Profile -->
                                <li [ngClass]="{'active':pageService.getPage()=='Profile'}" *ngIf="userinfoService.getUserinfo()!==null && userinfoService.getUserinfo().status=='Active'">
                                    <a>
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">สวัสดี 
                                            <span class="hello-user">{{userinfoService.getUserinfo().username}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Hello,
                                            <span class="hello-user">{{userinfoService.getUserinfo().username}}</span>
                                        </ng-container>
                                    </a><span class="has-subnav profile-nav"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2 profile-nav">
                                        <li><a (click)="pageService.setPage('Profile'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ประวัติส่วนตัว</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">Profile</ng-container>
                                        </a></li>
                                        <li><a (click)="pageService.setPage('Profile'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ประวัติการใช้งาน</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">History</ng-container>
                                        </a></li>

                                        <!-- Admin panel -->
                                        <li *ngIf="userinfoService.getUserinfo().level>=8">
                                            <a (click)="pageService.setPage('Admin panel'); pageService.setSubpage('User table'); unactive();"
                                            class="hello-user" style="font-weight:600;">
                                                Admin Panel
                                            </a>
                                        </li>
                                        <li><a (click)="memberLogOut(); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ออกจากระบบ</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">Log out</ng-container>
                                        </a></li>
                                    </ul>
                                </li>

                                <!-- Forms -->
                                <li [ngClass]="{'active':pageService.getPage()=='Forms'}" *ngIf="userinfoService.getUserinfo()!==null && userinfoService.getUserinfo().status=='Active'">
                                    <a (click)="pageService.setPage('Forms'); unactive();">
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">แบบฟอร์ม</ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Forms</ng-container>
                                    </a>
                                </li>

                                <!-- Contact -->
                                <li [ngClass]="{'active':pageService.getPage()=='Contact'}"><a (click)="pageService.setPage('Contact'); unactive();">
                                    <ng-container *ngIf="settingService.getLanguage()=='Thai'">ติดต่อเรา</ng-container>
                                    <ng-container *ngIf="settingService.getLanguage()=='English'">Contact Us</ng-container>
                                </a></li>

                                <!-- Language -->
                                <!-- <li>
                                    <a>
                                        <ng-container *ngIf="settingService.getLanguage()=='Thai'">เลือกภาษา</ng-container>
                                        <ng-container *ngIf="settingService.getLanguage()=='English'">Language</ng-container>
                                    </a><span class="has-subnav"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2">
                                        <li><a (click)="settingService.setLanguage('Thai'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ภาษาไทย</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">Thai</ng-container>
                                        </a></li>
                                        <li><a (click)="settingService.setLanguage('English'); unactive();">
                                            <ng-container *ngIf="settingService.getLanguage()=='Thai'">ภาษาอังกฤษ</ng-container>
                                            <ng-container *ngIf="settingService.getLanguage()=='English'">English</ng-container>
                                        </a></li>
                                    </ul>
                                </li> -->
                                <li>
                                    <a>Language</a><span class="has-subnav"><i class="fa fa-angle-down"></i></span>
                                    <ul class="sub-menu level-2">
                                        <li><a (click)="settingService.setLanguage('Thai'); unactive();">Thai</a></li>
                                        <li><a (click)="settingService.setLanguage('English'); unactive();">English</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</header>