<div class="political-main-wrapper">

  <app-header-navbar></app-header-navbar>

  <ng-container *ngIf="pageService.getPage()=='Homepage'">
    <app-page-home></app-page-home>
  </ng-container>

  <ng-container *ngIf="pageService.getPage()=='Log in'">
    <app-page-login></app-page-login>
  </ng-container>

  <ng-container *ngIf="pageService.getPage()=='Register'">
    <app-page-register></app-page-register>
  </ng-container>

  <ng-container *ngIf="pageService.getPage()=='Contact'">
    <app-page-contact></app-page-contact>
  </ng-container>

  <ng-container *ngIf="pageService.getPage()=='Check status'">
    <app-page-check-status></app-page-check-status>
  </ng-container>

  <!-- Admin panel -->
  <ng-container *ngIf="pageService.getPage()=='Admin panel' && userinfoService.getUserinfo()!==null && userinfoService.getUserinfo().level>=8">
    <app-page-admin-panel></app-page-admin-panel>
  </ng-container>
  
  <!-- <div>{{socketioService.getOnlineUsers()}}</div> -->  
</div>

<app-footer></app-footer>
