
<div *ngIf="!restricted()" class="political-team political-team-list">
  <form #editAdmin="ngForm" (ngSubmit)="editAdminPrivilage(editAdmin)" ngNativeValidate>
    <ul class="row">
      <li class="col-md-12 full-view-panel">
        <div class="political-team-list-wrap">

          <h1><strong>Admin Privilege Settings</strong></h1>
          <h3 style="margin-bottom:25px;">Username:
            <strong><span class="hello-user">{{userinfo.username}}</span></strong>
          </h3>
          
          <div class="political-team-list-text">
            <ul class="political-team-info">
              <li><strong>First name:</strong>
                <input class="profile-input" type="text" name="firstname" [ngModel]="defaultValue(userinfo.firstname)" placeholder="First name" ngModel required></li>
              <li><strong>Last name:</strong>
                <input class="profile-input" type="text" name="lastname" [ngModel]="defaultValue(userinfo.lastname)" placeholder="Last name" ngModel required></li>
              <li><strong>E-mail:</strong>
                <input class="profile-input" type="text" name="email" [ngModel]="defaultValue(userinfo.email)" placeholder="Your e-mail address" ngModel required
                style="width:calc(55% + 28px);"></li>
              <li><strong>Level:</strong>
                <ng-container *ngIf="selfAccount">{{levels[10 - userinfo.level].desc}}</ng-container>
                <select *ngIf="!selfAccount" name="level" [(ngModel)]="levelSelection" required>
                  <option *ngFor="let level of possibleLevel;" [value]="level.value">{{level.desc}}</option>
                </select>              
              <li class="submit-li">
                <input class="political-simple-btn" type="submit" value="{{'Update privileges' | translate:language }}">
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </form>
</div>

<div *ngIf="restricted()" class="political-team political-team-list">
  <ul class="row">
    <li class="col-md-12 full-view-panel">
      <div class="political-team-list-wrap">

        <h1><strong>Admin Privilege</strong></h1>
        <h3 style="margin-bottom:25px;">Username:
          <strong><span class="hello-user">{{userinfo.username}}</span></strong>
        </h3>
        
        <div class="political-team-list-text">
          <ul class="political-team-info">
            <li><strong>First name:</strong> {{userinfo.firstname}}</li>
            <li><strong>Last name:</strong> {{userinfo.lastname}}</li>
            <li><strong>E-mail:</strong> {{userinfo.email}}</li>
            <li><strong>Level:</strong> {{levels[10 - userinfo.level].desc}}</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>