<div class="political-banner">
		<div class="political-banner-layer">
			  <span class="political-banner-transparent"></span>
			  <img src="assets/img/bg/02.jpg" alt="" width="100%" height="auto">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="political-banner-thumb">
                        <figure><img src="extra-images/banner-thumb-img1.jpg" alt=""></figure>
                        <div class="political-banner-thumb-text" style="padding:15px 45px;">
                            <h2 style="line-height:35px; color:#ffffff;">DPST Manager, a Choice for Smarter Future</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="political-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 right">
                        <div class="political-banner-form">

                            <!-- Log in welcome -->
                            <h1 style="line-height:55px;">{{'Welcome to DPST Database Manager' | translate:language }}</h1>
                            <ng-container *ngIf="userinfoService.isLoggedIn">
                                <h2>{{'Register to our community' | translate:language }}: </h2>
                                <form>
                                    <ul>
                                        <li><input type="text" value="" placeholder="{{'Your name' | translate:language }}"></li>
                                        <li><input type="email" value="" placeholder="{{'Your E-mail address' | translate:language }}"></li>
                                        <li><input type="submit" value="{{'Register' | translate:language }}" (click)="router.navigate(['/register'])"></li>
                                    </ul>
                                </form>
                            </ng-container>

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="political-main-content" style="padding-bottom:0;">
		<div class="political-main-section political-service-listfull">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <div class="political-service-list">

                      <ul>
                          <li>
                              <i class="icon church-interface"></i>
                              <h3>{{'About Application' | translate:language }}</h3>
                              <p>
                                  This web application will help DPST to manage the data of DPST students and teachers
                                  <strong>faster, easier, and efficiently</strong>.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-arrow2"></i>
                              <h3>{{'Mission' | translate:language }}</h3>
                              <p>
                                  We hope to help building the DPST community,
                                  and this application can connect DPST people with others.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-eye"></i>
                              <h3>{{'How to Use' | translate:language }}</h3>
                              <p>
                                  It is easy. You just need to register and
                                  <a routerLink="/register"><strong style="cursor:pointer;">become a member</strong></a>.
                              </p>
                          </li>
                      </ul>

                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="political-service-add">
                    <video id="intro-video" width="100%" height="auto" controls>
                      <source src="assets/video/thebigdatasolution.com - sm.mp4" type="video/mp4">
                    </video>
                  </figure>
                </div>
            </div>
        </div>
		</div>
</div>
