<div class="political-banner">
		<div class="political-banner-layer">
			  <span class="political-banner-transparent"></span>
			  <img src="assets/img/bg/02.jpg" alt="" width="100%" height="auto">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="political-banner-thumb">
                        <figure><img src="extra-images/banner-thumb-img1.jpg" alt=""></figure>
                        <div class="political-banner-thumb-text" style="padding:15px 45px;">
                            <h2 style="line-height:35px; color:#ffffff;">DPST Manager, a Choice for Smarter Future</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="political-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 right">
                        <div class="political-banner-form">

                            <ng-container *ngIf="settingService.getLanguage()=='Thai' && userinfoService.getUserinfo()===null">
                                <h1 style="line-height:55px;">ยินดีต้อนรับเข้าสู่ระบบจัดการข้อมูลของ พสวท.</h1>
                                <h2>สมัครสมาชิกเพื่อเข้าใช้งาน: </h2>
                                <form>
                                    <ul>
                                        <li><input type="text" value="" placeholder="ชื่อของคุณ"></li>
                                        <li><input type="email" value="" placeholder="E-mail adress ของคุณ"></li>
                                        <li><input type="submit" value="สมัครสมาชิก" (click)="pageService.setPage('Register')"></li>
                                    </ul>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="settingService.getLanguage()=='English' && userinfoService.getUserinfo()===null">
                                <h1 style="line-height:55px;">Welcome to DPST Database Manager</h1>
                                <h2>Register to our community: </h2>
                                <form>
                                    <ul>
                                        <li><input type="text" value="" placeholder="Your name"></li>
                                        <li><input type="email" value="" placeholder="Your E-mail adress"></li>
                                        <li><input type="submit" value="Register" (click)="pageService.setPage('Register')"></li>
                                    </ul>
                                </form>
                            </ng-container>

                            <!-- Log in welcome -->
                            <ng-container *ngIf="settingService.getLanguage()=='Thai' && userinfoService.getUserinfo()!==null">
                                <h1 style="line-height:55px;">ยินดีต้อนรับเข้าสู่ระบบจัดการข้อมูลของ พสวท.</h1>
                            
                            </ng-container>
                            <ng-container *ngIf="settingService.getLanguage()=='English' && userinfoService.getUserinfo()!==null">
                                <h1 style="line-height:55px;">Welcome to DPST Database Manager</h1>
                                
                            </ng-container>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="political-main-content" style="padding-bottom:0;">
		<div class="political-main-section political-service-listfull">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <div class="political-service-list">

                      <ul *ngIf="settingService.getLanguage()=='Thai'">
                          <li>
                              <i class="icon church-interface"></i>
                              <h3>เกี่ยวกับ Application</h3>
                              <p>
                                  This web application will help DPST to manage the data of DPST students and teachers
                                  <strong>faster, easier, and efficiently</strong>.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-arrow2"></i>
                              <h3>เป้าหมาย</h3>
                              <p>
                                  We hope to help building the DPST community, 
                                  and this application can connect DPST people with others.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-eye"></i>
                              <h3>วิธีใช้งาน</h3>
                              <p>
                                  It is easy. You just need to register and 
                                  <strong style="cursor:pointer;" (click)="pageService.setPage('Register')">become a member</strong>.
                              </p>
                          </li>
                      </ul>
                      <ul *ngIf="settingService.getLanguage()=='English'">
                          <li>
                              <i class="icon church-interface"></i>
                              <h3>About Application</h3>
                              <p>
                                  This web application will help DPST to manage the data of DPST students and teachers
                                  <strong>faster, easier, and efficiently</strong>.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-arrow2"></i>
                              <h3>Mission</h3>
                              <p>
                                  We hope to help building the DPST community, 
                                  and this application can connect DPST people with others.
                              </p>
                          </li>
                          <li>
                              <i class="icon church-eye"></i>
                              <h3>How to Use</h3>
                              <p>
                                  It is easy. You just need to register and 
                                  <strong style="cursor:pointer;" (click)="pageService.setPage('Register')">become a member</strong>.
                              </p>
                          </li>
                      </ul>

                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="political-service-add">
                    <video id="intro-video" width="100%" height="auto" controls>
                      <source src="assets/video/thebigdatasolution.com - sm.mp4" type="video/mp4">
                    </video>
                  </figure>
                </div>
            </div>
        </div>
		</div>
</div>