<div class="political-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="political-subheader-wrap">
                    <h1>{{'User Panel' | translate:language }}</h1>
                    <ul class="political-breadcrumb">
                        <li><a routerLink="/">{{'Homepage' | translate:language }}</a></li>
                        <li>{{'User Panel' | translate:language }}</li>
                        <li class="active">{{pageName | translate:language }}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="political-main-content">
    <div class="political-main-section">
        <div class="container">
            <div class="row">

                <!-- User panel sidebar -->
                <aside class="col-md-3">
                    <div class="widget widget_cetagories">
                        <h2 class="political-widget-heading">{{'User Menu' | translate:language }}</h2>
                        <ul>
                            <li routerLinkActive="active">
                                <a routerLink="profile">{{'Profile' | translate:language }}</a></li>
                            <li routerLinkActive="active">
                                <a routerLink="edit-profile">{{'Edit Profile' | translate:language }}</a></li>
                            <li routerLinkActive="active">
                                <a routerLink="history">{{'History' | translate:language }}</a></li>
                            <li routerLinkActive="active">
                                <a routerLink="settings">{{'Settings' | translate:language }}</a></li>
                        </ul>
                    </div>
                </aside>

                <!-- User panel subpages -->
                <div class="col-md-9">
                    <router-outlet></router-outlet>
                </div>

            </div>
        </div>
    </div>
</div>