
html, body {height:100%; margin:0;}
.political-main-wrapper {min-height:100%;}
/* .political-main-wrapper {min-height:100%; margin-bottom:-78px;}
@media screen and (max-width:480px) {
    .political-main-wrapper {margin-bottom:-107px;} 
} */

a {cursor: pointer;}
.ban, .pen, .hello-user {text-transform: none;}
.ban, .req-message {color: red;}
.pen, .edit-icon {color: orange;}
.hello-user {color: #228ae6;}

.warning-btn {border:3px solid orange; background-color:#ffc947;}
.warning-btn:hover {color:orange; background-color:#ffffff;}
.delete-btn {border:3px solid red; background-color:#ff6f60;}
.delete-btn:hover {color:red; background-color:#ffffff;}

.warning-circle {
    float: right; background: orange; padding: 5px 10px; font-weight: 600;
    color: #ffffff; border-radius: 15px;
}

.btn-file {
    width: 206px; height: 46px; opacity: 0; cursor: pointer; overflow: hidden; z-index: 1;
    position: absolute; top: 0; left: calc(50% - 103px);
}
.btn-file + label {display: inline-block;}
.btn-file + label {cursor: pointer;}
.btn-file:hover + label {color: #004ba0; background: #ffffff;}


/* Disable double click */
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* iOS text input fixing */
body input, body textarea {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    user-select: text;
}
