/*	Media 768Px Start */
@media (min-width: 768px) and (max-width: 990px) {
	.menu.active { width: 260px;}
	.menu,  .menu > ul ul { margin: 0; max-height: 0; overflow: hidden;}
	span.has-subnav,a.menu-link { display: block; line-height: 2;}
	.sub-menu li a { background-color: #fff;}
	.navbar { padding: 0px; z-index: 999; border-radius: 0px; position: absolute; background-color: #fff; border-top: none; border-bottom: none; right: 0%; top: 94px; margin: 0px 0px 0px 0px;}
	a.menu-link { text-align: left; float: left; font-weight: bold; font-size: 22px; line-height: 2.2;}
	a.menu-link span { margin: 30px 30px 30px 0px; }
	.navbar-nav { margin: 0px; padding-top: 10px; float: left; text-align: left; } .navbar-nav > li > a:before { display: none; }
	.navbar-nav .sub-menu { border-bottom: none; padding:0px; margin: 0px; float: left; width: 100%; position: relative; opacity: 1; visibility: visible; background-color: transparent; top: 0; }
	.navbar-nav .sub-menu > li { padding: 0px;}
	.navbar-nav .sub-menu li a { padding: 6px 20px; color: #555555; font-weight: 500;}
	.navbar-nav .sub-menu .sub-menu { left: 0px;}
	.navbar .navbar-collapse { padding: 0px;}
	.navbar-nav > li > a { float: left; width: 100%; padding: 15px 20px 15px 20px; color: #555555; line-height: 14px;}
	.navbar-nav > li { width: 100%; float: left; margin: 0px;}
	.sub-menu .sub-menu { left: 0px;}
	.navbar-nav > li { padding: 0px;}
	.navbar-nav > li:first-child { padding-left: 0px;}
	/* Main Grid */
	.political-main-content .col-md-4,.political-main-content .col-md-3{ float: none; display: inline-block; vertical-align: top; margin-right: -4px; width: 50%; }
	.political-main-content .col-md-7,.political-main-content .col-md-5 { width: 100%; float: left; margin-bottom: 0px; }
	.col-md-12 { float: left; width: 100%; }
	.political-main-content aside.col-md-3 { width: 100%;}
	/*Main Grid*/
	.logo { width: auto;}
	.political-banner-thumb,.political-banner-caption { display: none;}
	.political-navigation {padding: 10px 0px 0px;}
	.political-user-list { margin: 33px 0px 0px 17px;}
	.political-service-list ul li { width: 50%;}
	.political-service-add img { width: 100%;}
	.political-blog-thumb { margin: 0px 0px 30px;}
	.political-blog-thumb,.political-blog-slide-list,.political-footer-newslatter form { width: 100%;}
	.political-blog-list-layer { padding: 0px 10px;}
	.political-footer-widget .widget,.political-main-content .widget { display: inline-block; float: none; margin-right: -4px; width: 50%; vertical-align: top;}
	.political-footer-one { background-size: cover;}
	.political-blog > ul > li { width: 50%;}
	.political-blog.political-blog-large-video > ul > li,.political-campaign-tabs > .tab-content .col-md-3,.political-service-add img { width: 100%;}
	.political-main-content .widget { padding: 0px 10px;}
	.political-campaign-widget .nav-tabs li { width: 50%; padding: 0px 5px;}
	.political-footer-one { background-size: cover;}
	.political-blog.political-blog-list > ul > li { width: 100%;}
	.political-blog-heading h2 { line-height: 35px; font-size: 30px;}
	.political-campaign-detail-thumb,.political-liststyle-one li { width: 100%;}
	.political-campaign-cause { width: 53.333%;}
	.political-campaign-cause { margin: 0px 0px 50px;}
	.political-main-content .political-classic-gallery ul li { width: 50%; margin-bottom: 30px;}
	.political-liststyle-one { margin-bottom: 30px;}
	.political-compaign-list-rate { float: none; display: inline-block;}
	.political-speeches-list-text > ul > li { margin-bottom: 10px;}
	.jp-volume-controls { width: 23%;}
	.political-speeches-list-text > ul { margin-bottom: 15px;}
	.political-main-content aside.col-md-4 { width: 100%;}
	.political-widget-wrap { margin-bottom: 50px;}
	.political-compaign-grid ul li,.political-speeches > ul > li,.political-team > ul > li { width: 50%;}
	.political-speeches.political-speeches-list > ul > li,.political-team.political-team-list > ul > li,.political-error-page { width: 100%;}
	
}

/* Media 420Px Start */
@media (max-width: 767px) {
	.menu.active { width: 260px;}
	.menu,  .menu > ul ul { margin: 0; max-height: 0; overflow: hidden;}
	span.has-subnav,a.menu-link { display: block; line-height: 2;}
	.sub-menu li a { background-color: #fff;}
	.navbar { padding: 0px; z-index: 999; border-radius: 0px; position: absolute; background-color: #fff; border-top: none; border-bottom: none; right: 0%; top: 94px; margin: 0px 0px 0px 0px;}
	a.menu-link { text-align: left; float: left; font-weight: bold; font-size: 22px; line-height: 2.2;}
	a.menu-link span { margin: 30px 30px 30px 0px; }
	.navbar-nav { margin: 0px; padding-top: 10px; float: left; text-align: left; } .navbar-nav > li > a:before { display: none; }
	.navbar-nav .sub-menu { border-bottom: none; padding:0px; margin: 0px; float: left; width: 100%; position: relative; opacity: 1; visibility: visible; background-color: transparent; top: 0; }
	.navbar-nav .sub-menu > li { padding: 0px;}
	.navbar-nav .sub-menu li a { padding: 6px 20px; color: #555555; font-weight: 500;}
	.navbar-nav .sub-menu .sub-menu { left: 0px;}
	.navbar .navbar-collapse { padding: 0px;}
	.navbar-nav > li > a { float: left; width: 100%; padding: 15px 20px 15px 20px; color: #555555; line-height: 14px;}
	.navbar-nav > li { width: 100%; float: left; margin: 0px;}
	.sub-menu .sub-menu { left: 0px;}
	.navbar-nav > li { padding: 0px;}
	.navbar-nav > li:first-child { padding-left: 0px;}
	/* Main Grid */
	.political-main-content .col-md-4,.political-main-content .col-md-3{ float: none; display: inline-block; vertical-align: top; margin-right: -4px; width: 50%; }
	.political-main-content .col-md-7,.political-main-content .col-md-5 { width: 100%; float: left; margin-bottom: 0px; }
	.col-md-12 { float: left; width: 100%; }
	.political-main-content aside.col-md-3 { width: 100%;}
	/*Main Grid*/
	.logo { width: auto;}
	.political-banner-thumb,.political-banner-caption { display: none;}
	.political-navigation {padding: 10px 0px 0px;}
	.political-user-list { margin: 33px 0px 0px 17px;}
	.political-service-add figcaption h2 { width: 100%; font-size: 27px;}
	.political-service-add figcaption { padding: 20px 40px 0px;}
	.political-blog-thumb { margin: 0px 0px 30px;}
	.political-blog-thumb,.political-blog-slide-list,.political-footer-newslatter form { width: 100%;}
	.political-blog-list-layer { padding: 0px 10px;}
	.political-footer-widget .widget,.political-main-content .widget,.political-compaign ul li,
	.political-showing-result ul li { display: inline-block; float: none; margin-right: -4px; width: 50%; vertical-align: top;}
	.political-footer-one { background-size: cover;}
	.political-blog > ul > li { width: 50%;}
	.political-blog.political-blog-large-video > ul > li,.political-campaign-tabs > .tab-content .col-md-3,.political-blog-grid .political-blog-option a,.political-service-add img { width: 100%;}
	.political-main-content .widget { padding: 0px 10px;}
	.political-campaign-widget .nav-tabs li { width: 50%; padding: 0px 5px;}
	.widget_latest_news figure ~ .widget-latest-news-text { padding: 0px 0px 0px 85px;}
	.widget-latest-news-text time a,.political-blog-grid .political-blog-option a { float: left;}
	.political-counter ul li { width: 50%;}
	.political-service-add p { line-height: 30px;}
	.political-cause-grid-text h6 > span { float: left; width: 100%; margin-bottom: 10px;}
	.political-cause-grid-text h6 > span:last-child { margin-bottom: 20px;}
	.political-blog-list figure,.political-width,blockquote { width: 100%;}
	.political-blog-list figure ~ .political-blog-list-text { margin: 0px; float: left;}
	.comment-list .children { padding: 0px;}
	.political-blog-heading h2 { line-height: 35px; font-size: 30px;}
	.political-gridv2-text p::after { width: 100%; left: 0px;}
	.political-gridv2-text { padding: 15px 15px 0px;}
	.political-large-wrap { padding: 0px;}
	.political-campaign-detail-thumb,.political-liststyle-one li { width: 100%;}
	.political-campaign-cause { width: 100%;}
	.political-campaign-cause { margin: 0px 0px 50px;}
	.political-main-content .political-classic-gallery ul li { width: 50%; margin-bottom: 30px;}
	.political-circle-text i { display: inline-block; float: none;}
	.political-liststyle-one { margin-bottom: 30px;}
	.political-compaign-list ul li figure { width: 100%;}
	.political-compaign-list ul li figure ~ .political-compaign-list-text { float: left; margin-left: 0px;}
	.political-compaign-list-rate { float: left;}
	.political-speeches-list-text > ul > li { margin-bottom: 10px;}
	.political-speechesplayer-thumb .jp-jplayer { display: none;}
	.political-speechesplayer-thumb .song-title { padding: 14px 0px 12px 30px;}
	.political-speeches-album .jp-audio { width: 100%;}
	.jp-volume-controls { width: 30%;}
	.political-speeches-thumb ul li { margin-bottom: 10px;}
	.political-subheader-wrap h1 { font-size: 20px;}
	.political-speeches-list > ul > li figure { width: 100%;}
	.political-speeches-list > ul > li figure ~ .political-speeches-list-wrap { margin-left: 0px; float: left;}
	.political-speeches > ul > li { float: none; width: 50%;}
	.political-speeches-list-text > ul { margin-bottom: 15px;}
	.political-speeches-list-text { padding: 23px 15px 0px;}
	.political-main-content aside.col-md-4 { width: 100%;}
	.political-widget-wrap { margin-bottom: 50px;}
	.political-widget-title { line-height: 1;}
	.political-team > ul > li { width: 50%;}
	.political-team-list-wrap figure { width: 100%;}
	.political-team-list-wrap figure ~ .political-team-list-text { float: left; margin: 0px; padding: 20px 0px 0px;}
	.political-team-list-wrap .political-team-info > li { width: 100%;}
	.political-error-page::before { display: none;}
	.political-error-page,.political-error-text { width: 100%;}
	.political-error-text { padding: 0px 30px;}
	.political-showing-result ul li figure { width: 100%;}
	.political-showing-result ul li figure ~ .political-result-text { margin: 0px; float: left; padding-left: 0px;}
	.political-result-text h5 { line-height: 1; margin: 0px 0px 10px;}
	.political-chartiy-link { line-height: 1.5;}
	.political-showing-result ul li figure img { width: 100%;}
	.political-section-heading { line-height: 1.3;}

}

/* Media 300Px Start */
@media (max-width: 480px) {
	/*main grid*/
	.political-main-content .col-md-4,.political-main-content .col-md-3,.political-main-content .col-md-6 { margin-right: 0px; width: 100%; }
	/*main grid*/
	.logo { text-align: center; width: 100%;}
	.political-navigation { width: 100%; text-align: center;}
	.political-user-list { float: none; display: inline-block; vertical-align: top; margin: 33px 0px 0px 17px;}
	a.menu-link,.political-copyright .political-team-social,.political-subheader-wrap h1,.political-breadcrumb { float: none; display: inline-block;}
	.political-navigation { padding: 0px;}
	.navbar { left: 50%; top: 177px; margin: 0px 0px 0px -145px;}
	.political-service-add figcaption h2 { display: none;}
	.political-counter ul li,.political-copyright p { width: 100%;}
	.political-footer-widget .widget { margin-right: 0px; width: 100%;}
	.political-copyright { text-align: center;}
	.political-footer-newslatter form input[type="email"] { padding-right: 70px;}
	.political-blog > ul > li,.political-main-content .widget,.political-campaign-widget .nav-tabs li { width: 100%;}
	.widget-latest-news-text time a,.political-blog-grid .political-blog-option a { float: right;}
	.political-blog-grid .political-blog-option a { width: auto;}
	.political-cause-grid-text h6 > span { float: right; width: auto; margin-bottom: 0px;}
	.political-cause-grid-text h6 > span:last-child { margin-bottom: 0px;}
	.political-prenxt-post ul li { width: 100%;}
	.political-admin-post figure ~ .political-admin-post-text,.comment-list figure ~ .text-holder { margin: 0px; float: left;}
	.political-admin-post-text { padding-left: 0px;}
	.comment-list figure ~ .text-holder { padding: 20px 0px 0px;}
	.comment-respond form p,.political-compaign ul li { width: 100%;}
	.political-subheader-wrap { text-align: center;}
	.political-large-text { margin: 0px;}
	.political-main-content .political-classic-gallery ul li,.poltical-compaign-form p,.political-contact-form form ul li { width: 100%;}
	.political-campaign-cause { padding: 62px 0px 0px;}
	.political-subheader-wrap h1 { font-size: 28px;}
	.political-speeches-album .jp-interface > i { margin-bottom: 20px;}
	.political-speeches-album .jp-controls,.political-speeches > ul > li,.political-team > ul > li { width: 100%;}
	.jp-volume-controls { width: 61%;}
	.political-speechesplayer-thumb { padding: 0 0 380px;}
	.political-speeches-list-text { padding: 23px 30px 0px;}
	.political-team-awards figure ~ .political-award-text { margin-right: 0px; float: left;}
	.political-showing-result ul li { width: 100%;}

}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1054px) {
	.navbar-nav > li { margin: 0px 18px;}
	.political-banner-thumb,.political-banner-form h1 { display: none;}
	.political-banner-caption { margin: 0px 0px -115px;}
	.political-service-add figcaption { padding: 20px 58px 0px;}
	.political-service-add figcaption h2 { font-size: 27px; width: 100%;}
	.political-blog-thumb { width: 74.333%;}
	.political-blog-thumb .mejs-container { padding-top: 326px;}
	.political-blog-grid .mejs-container { padding-top: 190px;}
	.widget_event_schedule figure ~ .widget-event-schedule-text { padding: 0px 0px 0px 105px;}
	.widget_latest_news figure ~ .widget-latest-news-text { padding: 0px 0px 0px 80px;}
	.political-footer-one { background-size: cover;}
	.navbar-nav .sub-menu { left: auto; right: 0px;}
	.political-gridv2-text { padding: 15px 22px 0;}
	.political-campaign-cause { padding: 30px 15px 0px;}
	.political-compaign-list-rate { float: none; display: inline-block;}
	.political-speeches-album .jp-audio { width: 73%;}
	.political-speeches-list-text > ul > li { margin-bottom: 10px;}
	.jp-volume-controls { width: 24%;}
	.political-speeches-list-text > ul { margin-bottom: 15px;}
	.political-error-page { width: 76.667%;}

}


/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1250px) {
	.navbar-nav > li { margin: 0px 18px;}
	.political-banner-thumb,.political-banner-form h1 { display: none;}
	.political-banner-caption { margin: 0px 0px -115px;}
	.political-service-add figcaption { padding: 20px 58px 0px;}
	.political-service-add figcaption h2 { font-size: 27px; width: 100%;}
	.political-blog-thumb { width: 74.333%;}
	.political-blog-thumb .mejs-container { padding-top: 326px;}
	.political-blog-grid .mejs-container { padding-top: 190px;}
	.widget_event_schedule figure ~ .widget-event-schedule-text { padding: 0px 0px 0px 105px;}
	.widget_latest_news figure ~ .widget-latest-news-text { padding: 0px 0px 0px 80px;}
	.political-footer-one { background-size: cover;}
	.navbar-nav .sub-menu { left: auto; right: 0px;}
	.political-gridv2-text { padding: 15px 22px 0;}
	.political-campaign-cause { padding: 30px 15px 0px;}
	.political-compaign-list-rate { float: none; display: inline-block;}
	.political-speeches-album .jp-audio { width: 73%;}
	.political-speeches-list-text > ul > li { margin-bottom: 10px;}
	.jp-volume-controls { width: 24%;}
	.political-speeches-list-text > ul { margin-bottom: 15px;}
	.political-error-page { width: 76.667%;}
}
