
<div class="political-main-content">
  <div class="political-main-section">
    
    <div class="political-fancy-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{'Log In' | translate:settingService.getLanguage() }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
          <div class="political-contact-form">
            
            <form #login="ngForm" (ngSubmit)="memberLogIn(login)" ngNativeValidate>
              <ul>
                <li><div class="input-label">{{'Username' | translate:settingService.getLanguage() }}</div>
                  <input class="reg-input" type="text" name="username" value="" ngModel required></li>
                <li><div class="input-label">{{'Password' | translate:settingService.getLanguage() }}</div>
                  <input class="reg-input" type="password" name="password" value="" ngModel required>
                  <div class="error-message"><span *ngIf="loginFail">* {{loginMsg | translate:settingService.getLanguage() }}</span></div>
                </li>
                <li class="last-input">
                  <input name="rememberme" type="checkbox" ngModel> {{'Remember me' | translate:settingService.getLanguage() }}
                </li>
                <li class="last-input" style="text-align:right;">
                  {{'Forgot' | translate:settingService.getLanguage() }}
                  <a routerLink="/recover/username">{{'username' | translate:settingService.getLanguage() }}</a> / 
                  <a routerLink="/recover/password">{{'password' | translate:settingService.getLanguage() }}</a> ?
                </li>
              </ul>
              <div style="text-align:center;"><input type="submit" value="{{'Log in' | translate:settingService.getLanguage() }}" class=""></div>
            </form>

          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>