
.reg-input[type=text], .reg-input[type=email], .reg-input[type=password] {
    color: #000000;
    font-size: 16px;
}
.reg-input {
    height: 45px;
    margin: 0;
    padding-left: 15px;
    width: 100%;
}

.input-label {
    color: #000000;
}
.req {
    color: red;
}
.error-message {
    height: 30px;
    color: red;
    font-size: 14px;
}

.political-contact-form form ul li {
    margin: 0 0 0 0;
}
.last-input {
    color: #000000;
    margin: 0 0 25px 0 !important;
}
.last-input a {
    color: #228ae6;
    font-weight: 600;
}